
{% extends 'foodvote/base.html' %}

{% block content %}
	<p class='group_page_title'>{{group.name}}'s Add Restaurant's Page</p>
	<h4> Check the following restaurants you would like to add to the vote </h4>
	<br></br>	
	<form method="post" action='/add_chose'>
	{% csrf_token %}
	<input type='hidden' name='key' value='{{group.id}}'>
	{% for rgeach in rg %}
		<div class = 'container, restvote'>
			<a class='resttitle' href='{{rgeach.restaurant.url}}'>{{rgeach.restaurant.name}}</a>
			<a href='{{rgeach.restaurant.url}}'><img class='restimg' src='{{rgeach.restaurant.img}}'/></a>
			<br></br>
			<div class='desc'> Address: </div><div class='restval'>{{rgeach.restaurant.address}}</div>
			<div class='desc'> Location: </div><div class='restval'>{{rgeach.restaurant.location}}</div>
			<div class='spacing'></div>
			<img src='{{rgeach.restaurant.rating_img}}'/>
			<br></br>
			<input type='checkbox' name='vote' value='{{rgeach.id}}'>
		</div>
	{% endfor %}
	<button type='submit' class='save btn btn-default'>Submit</button> 
	</form>
{% endblock %}
