{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Food Voter</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>

<body>
	<div class="container-fluid" id="header">
		<h2><a href="{% url 'home' %}" id='webtitle'> Food Voter </a></h2>
		<a href="{% url 'logout' %}" id="logout">Logout</a>
		<a href="{% url 'my_list' %}" id="my_list">My Votes</a>
		<a href="{% url 'oauth2_provider:list' %}" id="oauth">OAuth</a>
	</div>

	<br></br>
	<div class="container">
	{% block content %}
	{% endblock %}
	</div>
</body>


