{% extends 'foodvote/base.html' %}

{% block content %}
	<p class='group_page_title'>{{group.name}}'s Group Page</p>
	<br></br>	
	<form method="post">
	{% csrf_token %}
	{% for group in groups %}
		<div class = 'container, restvote'>
			<a href="{% url 'group_page' pk=group.pk %}" class='resttitle'>{{group.name}}</a>
			<br></br>
			<div class='desc'> Created On: </div><div class='restval'>{{group.create_date}}</div>
			<div class='desc'> End Date: </div><div class='restval'>{{group.end_date}}</div>
			<div class='spacing'></div>
		</div>
	{% endfor %}
	<button type='submit' class='save btn btn-default'>Choose</button>
	</form>
{% endblock %}
